        <h2>Draft</h2>
          <br>
          <div class="row bloglist">
              <div class="col-md-8 col-sm-8">
                  <div class="blogtitle">Ukirama ERP</div>
                  <p>Posted January, 12th 2017</p>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="icon">
                <%= link_to "#", :class => "btn btn-default" do %>
                <span class="glyphicon glyphicon-file" title="View"></span>
                <% end %>
                <%= link_to "#", :class => "btn btn-primary" do %>
                <span class="glyphicon glyphicon-pencil" title="Edit"></span>
                <% end %>
                <%= link_to "#", :class => "btn btn-danger" do %>
                <span class="glyphicon glyphicon-trash" title="Delete"></span>
                <% end %>
                </div>
              </div>
          </div>
          
          <div class="row bloglist">
              <div class="col-md-8 col-sm-8">
                  <div class="blogtitle">Ukirama ERP</div>
                  <p>Posted January, 12th 2017</p>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="icon">
                <%= link_to "#", :class => "btn btn-default" do %>
                <span class="glyphicon glyphicon-file" title="View"></span>
                <% end %>
                <%= link_to "#", :class => "btn btn-primary" do %>
                <span class="glyphicon glyphicon-pencil" title="Edit"></span>
                <% end %>
                <%= link_to "#", :class => "btn btn-danger" do %>
                <span class="glyphicon glyphicon-trash" title="Delete"></span>
                <% end %>
                </div>
              </div>
          </div>
          
          <div class="row bloglist">
              <div class="col-md-8 col-sm-8">
                  <div class="blogtitle">Ukirama ERP</div>
                  <p>Posted January, 12th 2017</p>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="icon">
                <%= link_to "#", :class => "btn btn-default" do %>
                <span class="glyphicon glyphicon-file" title="View"></span>
                <% end %>
                <%= link_to "#", :class => "btn btn-primary" do %>
                <span class="glyphicon glyphicon-pencil" title="Edit"></span>
                <% end %>
                <%= link_to "#", :class => "btn btn-danger" do %>
                <span class="glyphicon glyphicon-trash" title="Delete"></span>
                <% end %>
                </div>
              </div>
          </div>