   <%= render 'pages/nav' %>
   <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('<%=image_path("home-bg")%>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My Blog</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="search">
            <%= form_tag posts_index_path, :method => 'get'  do %>
            <%= search_field_tag :search, params[:search], placeholder: "Search Blog By Title"%>
            <% end %>
            <%= form_tag index_tag_path, :method => 'get'  do %>
            <%= select("search_tag", "tag_id", Tag.all.collect {|p| [ p.tag_name, p.id ] }, {include_blank: 'Search Blog By Tag'}, :onchange => "this.form.submit()") %>
            <% end %>
            </div>
            <b style="font-size: 30px">Recent Blogs: </b><br>
            <% @blog_post.each do |blog_post| %>
                <div class="post-preview">
                        <h2 class="post-title">
                            <%= link_to blog_post.title, detail_blog_path(blog_post.id) %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= blog_post.summary %>
                        </h3>
                       
                        <b>Tags :</b> 
                        <%= blog_post.tags.map{|tag|tag.tag_name}.join(", ")%>
                    <p class="post-meta">Posted by <a href="#"><%= blog_post.user.name %></a> <%= blog_post.updated_at.to_formatted_s(:long_ordinal) %></p>
                </div>
                <hr>
            <% end %>
                
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

     <%= render 'pages/footer' %>